<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs',{ pageName :  "Products Home" }) %>

<body>

    <%- include('partials/nav.ejs')%>
    <%- include('partials/category.ejs', {products: products})%>

    <section>
        <div>
            <!-- if condition to make page's title parameterized -->
            <h2 class="title">
                <% if (typeof pageName !== 'undefined') { %>
                <%= pageName %>
                <% } else { %>
                All Products
                <% } %>
            </h2>
        </div>
    </section>

    <main class="container">
        <div>
            <div class="productList"
                <% for(let i = 0; i < products.length; i++) { %>
                    <a href="/products/<%=products[i]._id%>"><%= products[i].name %></a>
                    <img src = "<%= products[i].image %>" alt = "<%= products[i].name %>" />
                <% } %>
            </div>
        </div>
    </main> 
</body>

</html>
