<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs', { pageName: product.name }) %>
<body>
    <%- include('partials/nav.ejs')%>
    <!-- product object referenced by product -->
    <h2><%= product.name %></h2>
    <small>Category: <%= product.category %></small><br>
    <small>Price: $<%= product.price %></small>
    <img class="show-image" src="<%=product.image%>" alt="<%=product.name %>"/>
    <div>

        <a href="/products/<%= product._id%>/buy">Buy <%= product.name %></a>
    </div>
    <section>
        <h2>Product Reviews</h2>
        <div>
            <h3>Create a review:</h3>
            <!-- form here -->
            <form method="POST" action="/reviews">
                <input name="score" type="number"/>
                <input name="content" type="text" />
                <input type="hidden" name="product" value="<%=product.id%>"/>
                <input type="submit" value="Share your experience!"/>
            </form>
         
                <!-- form here -->
           
       
        <% for(let i=0;i<reviews.length;i++){ %>
            <div>
                <h3>Rating: <%=reviews[i].score %></h3>
                <p><%=reviews[i].content %></p>
                <form action="/reviews/ <%=reviews[i]._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="delete review" />
                </form>
            </div>
        <%}%>
       
    </section>
</body>
</html>